body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ECF0F1; /* Light gray */
    color: #2C3E50; /* Dark blue-gray */
}
  
#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
header {
    width: 100%;
    background-color: #2C3E50; /* Dark blue-gray */
    color: #ECF0F1; /* Light gray */
    text-align: center;
    padding: 20px 0;
}