html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bdcdde; /* Light gray */
    font-family: 'Arial', sans-serif;
  }